.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

body html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
  min-height: 50px;
  display: flex;
  background-image: url('./assets/rh.svg');
  background-repeat: no-repeat;
  background-position: left center;
  height: 6rem;
  background-size: contain;
  background-color: #e5e5e5;
}
.home{
  border: 1px solid #dddd;
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  gap: 1rem;
}
.imageContainer{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border: 1px solid #dddd;
}
.imageContainer img{
  height: 100%;
  width:100%;
}